<html>
    <head>
        <title>Hello World :)</title>
    </head>
    <body>
        <h1>Welcome to this little web protal!</h1>
        <br/>
        <br/>

        <h2>HR Users Login:</h2>
        <form method="POST" action="/plainlogin">
            <div class="form-group">
                <label for="unin">Username</label>
                <input name = "usernamein" type="text" class="form-control" id="unin" placeholder="Enter Username">
            </div>
            <div class="form-group">
                <label for="unin">Password</label>
                <input name = "passwordin" type="text" class="form-control" id="passin" placeholder="Enter Password">
            </div>
            <button type="submit" formmethod="post">Login</button>
        </form>
    </body>
</html>