<html>
    <head>
        <title>User Page</title>
    </head>
    <body>
        Welcome to the user page.


        Employees:
        <form action="/edit" method="POST">
            <table style="width:100%; border: 1px solid black;">
                <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Mobile Phone</th>
                <th>Hire Date</th>
                <th>Edit</th>
                <th>Delete</th>
                <th>ViewAttandance</th>
                </tr>
                <tr>
                <td><input type="text" value="tempname"></td>
                <td><input type="text" value="tempemail"></td> 
                <td><input type="text" value="011"></td>
                <td><input type="date" value="2011-09-29"></td>
                <td><button type="submit">Edit</button></td>
                <td><button type="submit">Delete</button></td>
                <td><button type="submit">View</button></td>
                </tr>
            </table>
        </form>

        <br/>
        Add Employee:
        <br/>
        <form action="/addEmployee" method="POST">
            Name: <input type="text" name="name"><br/>
            Email: <input type="text" name="email"><br/>
            Mobile: <input type="text" name="mobile"><br/>
            Hire Date: <input type="text" name="hiredate"><br/>
            <button type="submit">Add</button>
        </form>

        Attendance Month Filter:<input type="number" name="monthfilter" value=1>


        <br/>
        <br/>
        <h3>Employee Of The Month:</h3>
        <p></p>
    </body>
</html>